section#contact ::-webkit-select-placeholder{
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb;
}

section#contact :-ms-select-placeholder{
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb;
}



header form .form-group select.form-control{
height:auto;
}

header form ::-webkit-select-placeholder{
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb;
}

header :-ms-select-placeholder{
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb;
}

