section#contact .form-group option.form-control{
height:auto;
}

section#contact ::-webkit-option-selected{
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb;
}

section#contact :-ms-option-selected{
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb;
}



.intro-text form .form-group input .form-control{
margin: 0 auto;
height: auto;
}

.intro-text form ::-webkit-input-placeholder{
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb;
}

.intro-text form :-ms-input-placeholder{
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb;
}

.intro-lead-in .intro-heading {
	
}




